.holistic-cover {
    background-color: rgb(217, 231, 183);
}

.holistic-button {
    background-color: rgb(46, 161, 161);
    color: white;
}

.holistic-photo {
    background-image: url('../../../assets/images/HBprofile/Cover.PNG');
}